@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
* {
    outline-width: 0;
    font-family: 'Montserrat' !important;
}

body {
    background: #23272A;
    margin:0;
}

.belly-logo {
    position: fixed;
    top: 0;
    left: -230px;
    width: 230px;
    height: 60px;
    background-color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1030;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/** Sideleft menu */
.belly-sideleft {
    position: fixed;
    top: 60px;
    left: -230px;
    bottom: 0;
    z-index: 100;
    width: 230px;
    background-color: #1D2939;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.belly-menu-item {
  display: block;
  position: relative;
}

.belly-menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 11px;
  height: 40px;
  letter-spacing: 0.2px;
  color: #adb5bd;
  font-size: 14px;
  position: relative;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/** Menu */
.menu-item-label {
    display: block;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: auto;
}
  
.menu-item-label,
.menu-item-arrow {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/** Responsife */
@media (min-width: 992px) {
    .belly-logo {
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    .belly-sideleft {
        left: 0;
    }
}