.graph {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .sleep-good {
    fill: #2de4e3;
  }
  .sleep-bad {
    fill: #ff666f;
  }
  .sleep-medium {
    fill: #6f5df6;
  }
  .start-time,
  .end-time {
    letter-spacing: 0.1em;
    font-size: 0.75em;
  }
  .axis {
    shape-rendering: crispEdges;
  }
  .axis path {
    fill: none;
    stroke: rgba(152, 175, 197, 0.7);
  }
  .axis text {
    fill: #FFF;
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }
  .axis .x-axis-title {
    letter-spacing: 0.45em;
  }
  .title {
    font-weight: 300;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    margin-bottom: 2.5em;
  }
  .legend {
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
  .legend .bloq {
    display: inline-block;
    padding: 8px 20px;
    padding-bottom: 10px;
  }
  .legend .bloq + .bloq {
    margin-left: 4px;
  }
  .legend .blue {
    background-color: #2de4e3;
  }
  .legend .purple {
    background-color: #6f5df6;
  }
  .legend .red {
    background-color: #ff666f;
  }